// Custom styles.
body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.page-home .main-inner {
    opacity: 0.8;
}
