// Custom styles.
body {
    background:url(https://unsplash.it/1440/820?random&t=8&gravity=north);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}
.page-home .main-inner {
    opacity: 0.8;
}
